<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=1024" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>Scrum@Swisscom - Lessons Learned</title>
  <meta name="description" content="Lessons Learned from the past 4.5 years." />
  <meta name="author" content="Sam Zurcher" />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="impress-not-supported">

<%= yield %>

</body>
</html>
